<style type="text/css">
.mycss
{
font-weight:bold;color:#2C404D;background-color:#F7F7F7;border: 7px solid #0D1217;letter-spacing:1pt;word-spacing:2pt;font-size:12px;text-align:center;font-family:georgia, serif;line-height:1;margin:0px;padding:0px;
}
</style>
